@import "globals";

body {
  background: $color-body-bg;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $color-text;
  margin: 0;

  -webkit-text-size-adjust: 100%; // don't adjust iPhone fonts
}
