.summary .action,.summary .year{right:.5em;color:#aaa;position:absolute}
html{box-sizing:border-box}
*,::after,::before{box-sizing:inherit}
:host{max-height:1000em;border-radius:.25em;cursor:pointer;color:#323232;background:#fff;border:1px solid #eee;margin-bottom:1em;-webkit-transition:all .75s;-moz-transition:all .75s;transition:all .75s;float:left;display:block;margin-right:2.35765%;width:100%}
:host:hover{background:#fff;box-shadow:0 0 .75em .25em rgba(0,0,0,.1)}
:host:last-child{margin-right:0}
:host:nth-child(1n){margin-right:0}
:host:nth-child(1n+1){clear:left}
@media screen and (min-width:640px){:host{float:left;display:block;margin-right:2.35765%;width:48.82117%}
:host:last-child{margin-right:0}
:host:nth-child(1n){margin-right:2.35765%}
:host:nth-child(1n+1){clear:none}
:host:nth-child(2n){margin-right:0}
:host:nth-child(2n+1){clear:left}
}
@media screen and (min-width:920px){:host{float:left;display:block;margin-right:2.35765%;width:31.76157%}
:host:last-child{margin-right:0}
:host:nth-child(2n){margin-right:2.35765%}
:host:nth-child(2n+1){clear:none}
:host:nth-child(3n){margin-right:0}
:host:nth-child(3n+1){clear:left}
}
:host.hide{overflow:hidden;max-height:0;width:0;margin:0;font-size:0;border:none}
.expanded,.print .expanded{float:left;display:block;width:100%}
@media screen and (min-width:640px){:host.show{float:left;display:block;margin-right:2.35765%;width:100%}
:host.show:last-child{margin-right:0}
}
@media screen and (min-width:920px){:host.show{float:left;display:block;margin-right:2.35765%;width:100%}
:host.show:last-child{margin-right:0}
}
.print :host{color:#323232;cursor:default;text-align:left;max-height:none;background:0 0;border-color:transparent;float:left;display:block;margin-right:2.35765%;width:100%}
.print :host:hover{background:0 0;box-shadow:none}
.print :host:last-child{margin-right:0}
.expanded{padding:0;max-height:0;font-size:0;margin-right:2.35765%;-webkit-transition:all .75s;-moz-transition:all .75s;transition:all .75s}
.expanded:last-child{margin-right:0}
:host(.show) .expanded{max-height:1000em;font-size:inherit;padding:0 1em;margin-bottom:1.75em}
.print .expanded{opacity:1;border-top:1px solid #eee;margin-bottom:1.5em;margin-right:2.35765%}
.print .expanded:last-child{margin-right:0}
.summary{padding:1em;position:relative}
.summary .title{font-weight:700;padding:0 0 .25em}
.summary .company{font-weight:700;padding:0 0 .5em}
.summary .sub{font-size:.8em;color:#aaa}
.summary .sub .location{padding:0 0 .25em}
.summary .sub .fromto{padding:0}
.summary .year{top:.5em;width:3em;height:3em;padding:.75em 0;border-radius:1.5em;border:.25em solid #aaa;text-align:center;vertical-align:middle}
.summary .action{bottom:.5em}
.print .summary{padding-bottom:.5em}
.print .summary .sub{position:absolute;bottom:1em;right:5em;text-align:right}
.print .summary .action{display:none}
.print .summary .year{top:1em}