.world {
  width: 100%;
  height: 100%;

  .overlay {
    position: absolute;
    left: 1em;
    top: 1em;
    border-radius: 0.5em;
    color: white;
    background: black;
    opacity: 0.75;
    z-index: 1;

    &.info {
      display: block;
    }

    &.menu {
      display: none;
      max-width: 33%;
      left: 33%;
      text-align: center;
    }

    .text {
      margin: 1em;
    }

    .button {
      background: #333;
      opacity: 0.75;
      margin: 2em 1em 1em 1em;
      padding: 0.75em 0.75em;
      border-radius: 0.5em;
      cursor: pointer;
    }
  }

  &.dead {
    .menu {
      display: block;
    }

    .info {
      display: none;
    }

    &:after {
      content: '';
      float: left;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.75;
      padding: 0;
      position: absolute;
      background: #000;
    }
  }

  .container {
    width: $size-grid-em;
    height: $size-grid-em;
    padding: 0;

    position: absolute;
    top: $size-cube;
    left: 50%;

    @include transform(rotateX(45deg) rotateZ(45deg));
    @include transform-origin(top left);
    @include transform-style(preserve-3d);
  }
}
