link(rel="import" href="../3rdparty/polymer.min.html")
link(rel="import" href="../cv/cv.min.html")
link(rel="import" href="../cvdata/cvdata.min.html")
link(rel="import" href="../menu/menu.min.html")
link(rel="import" href="../pathBehavior/pathBehavior.min.html")
link(rel="import" href="app-styles.html")
  
dom-module#comp-app
  
  template
    style(include="app-styles")

    comp-cvdata#cvdata
    
    comp-menu(data="{{ data }}")
    comp-cv(data="{{ data }}")
      
  script(src="app.js")
