<link rel="import" href="../3rdparty/polymer.min.html"/><link rel="import" href="../3rdparty/showdown.min.html"/><link rel="import" href="markdown-styles.html"/><dom-module id="comp-markdown"><template><style include="markdown-styles"></style></template><script src="markdown.js"></script></dom-module>