.content {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: $border-rad;

  @include outer-container;

  &.print {
    background: $color-content-bg;
    border: 1px solid $color-content-border;
  }
}
