.expanded {
  padding: 0;
  max-height: 0;
  font-size: 0;

  @include span-columns(12);
  @include transition(all $anim-time);

  &.show {
    max-height: 1000em;
    font-size: inherit;
    padding: 0 1em;
    margin-bottom: 1.75em;
  }
}

.print .expanded {
  opacity: 1;
  border-top: 1px solid $color-content-border;
  margin-bottom: 1.5em;

  @include span-columns(12);
}
