.positions {
  padding: 0 1em;

  @include span-columns(12);
}

.position {
  opacity: 1;
  max-height: 1000em;
  border-radius: $border-rad;
  cursor: pointer;
  color: $color-content-text;
  background: $color-content-bg;
  border: 1px solid $color-content-border;
  margin-bottom: 1em;

  &:hover {
    background: $color-content-bg-hover;
    box-shadow: 0 0 0.75em 0.25em rgba(0, 0, 0, 0.1);
  }

  @include transition(all $anim-time);

  @include span-columns(12);
  @include omega(1n);

  @include media($break-small) {
    @include span-columns(6);
    @include omega-reset(1n);
    @include omega(2n);
  }

  @include media($break-large) {
    @include span-columns(4);
    @include omega-reset(2n);
    @include omega(3n);
  }

  &.hide {
    overflow: hidden;
    max-height: 0;
    width: 0;
    margin: 0;
    opacity: 0;
    font-size: 0;
  }

  &.show {
    @include media($break-small) {
      @include span-columns(12);
    }

    @include media($break-large) {
      @include span-columns(12);
    }
  }
}

.print .position {
  color: $color-text;
  cursor: default;
  text-align: left;
  max-height: none;
  background: transparent;
  border-color: transparent;

  &:hover {
    background: transparent;
    box-shadow: none;
  }

  @include span-columns(12);
}
