<dom-module id="cv-styles">
<template>
<style>
html{box-sizing:border-box}
*,::after,::before{box-sizing:inherit}
:host{padding:1em;display:block;max-width:68em;margin-left:auto;margin-right:auto}
:host::after{clear:both;content:"";display:table}
.introduction{display:none;padding:0 1em;margin-top:1em;margin-bottom:1em}
.introduction comp-markdown,.introduction.print,.positions{float:left;display:block;width:100%}
.introduction.print{margin-right:2.35765%}
.introduction.print:last-child{margin-right:0}
.introduction comp-markdown{border:1px solid #eee;border-radius:.25em;background:#fff;padding:1em;margin-right:2.35765%}
.introduction comp-markdown:last-child{margin-right:0}
.positions{padding:0 1em;margin-right:2.35765%}
.positions:last-child{margin-right:0}
@media print{.content,.content.print{border:none}
}
</style>
</template>
</dom-module>