doctype html
html(lang="en" ng-app="cv")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="description" content="")
    meta(name="author" content="")
    meta(name="viewport" content="width=device-width")
    title Curriculum Vitae: Jaco Greeff
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="client.css")
    style .ng-cloak { display: none }
    
  body.ng-cloak(ng-controller="cvController as cv" ng-class="cv.isPath('/print') && 'extended'")
    .menu
      .cv CV
      .person
        p {{cv.data.name}}
        p {{cv.data.position}}
      .items
        a.item(href="#/summary" ng-class="cv.isPath('/summary') && 'selected'") Summary
        a.item(href="#/print" ng-class="cv.isPath('/print') && 'selected'" ng-click="cv.show()") Print
      
    .content
      .introduction(markdown="cv.data.summary")
      
      .positions
        .position(ng-repeat="pos in cv.data.positions" ng-class="{ 'hide': cv.entry && cv.entry != pos }")
          .summary(ng-click="cv.show(pos)")
            .action.fa(ng-class="{ 'fa-level-down': cv.entry != pos, 'fa-level-up': cv.entry == pos }")
            .title {{pos.position}}
            .company {{pos.company}}
            .sub
              .location {{pos.location}}
              .fromto  {{cv.getDate(pos)}}
            .year {{cv.getYear(pos)}}
          
          .expanded(ng-class="{ 'show': cv.isPath('/print') || cv.entry == pos }")
            .section(markdown="pos.description")
      
    script.
      if (window.location.host.substr(-10) == '.github.io' && window.location.protocol != 'https:') {
          window.location.protocol = 'https:';
      }
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.4.8/angular-sanitize.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.3.0/showdown.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js")
      
    script(src="client.js")
