link(rel="import" href="../3rdparty/polymer.min.html")
link(rel="import" href="../3rdparty/showdown.min.html")
link(rel="import" href="markdown-styles.html")
  
dom-module#comp-markdown
  template
    style(include="markdown-styles")

  script(src="markdown.js")
