link(rel="import" href="../3rdparty/polymer.html")
link(rel="import" href="../3rdparty/showdown.html")
link(rel="import" href="markdown-styles.html")
  
dom-module#comp-markdown
  template
    style(include="markdown-styles")
    
    #markdown

  script(src="markdown.js")
