.content,.text{border-radius:.5em;cursor:pointer}
.content .title,.expanded .section .header{font-weight:700}
html{box-sizing:border-box}
*,::after,::before{box-sizing:inherit}
body{background:#fff;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;margin:0 auto;max-width:68em}
body::after{clear:both;content:"";display:table}
.expanded,.position,.positions{float:left;display:block}
.positions{padding:1em;margin-right:2.35765%;width:100%;-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-ms-transform:scale(1,1);-o-transform:scale(1,1);transform:scale(1,1)}
.positions:last-child{margin-right:0}
.position{text-align:center;margin-bottom:1em;max-height:8em;opacity:1;-webkit-transition:all .25s;-moz-transition:all .25s;transition:all .25s;margin-right:2.35765%;width:31.76157%}
.position:last-child,.position:nth-child(3n){margin-right:0}
.position:nth-child(3n+1){clear:left}
@media screen and (max-width:800px){.position{float:left;display:block;margin-right:2.35765%;width:48.82117%}
.position:last-child,.position:nth-child(2n){margin-right:0}
.position:nth-child(2n+1){clear:left}
}
@media screen and (max-width:640px){.position{float:left;display:block;margin-right:2.35765%;width:100%}
.position:last-child,.position:nth-child(1n){margin-right:0}
.position:nth-child(1n+1){clear:left}
}
.position.hide{overflow:hidden;max-height:0;width:0;margin:0;opacity:0}
.content{color:#fff;background:rgba(50,50,50,.75);padding:1em;position:relative}
.content .title{padding:0 0 .25em}
.content .company{font-weight:700;padding:0 0 .5em}
.content .location{font-size:.8em;padding:0 0 .25em;color:#aaa}
.content .duration{font-size:.8em;padding:0;color:#aaa}
.content .fa{position:absolute;top:.5em;right:.5em;color:#aaa}
.content .fa:hover{color:#fff}
.text{background:0 0;color:#323232;padding:1em;position:relative}
.text li{margin:.5em 0}
.text p{margin:1em 0}
.expanded{padding:0 1em;margin-right:2.35765%;width:100%;-webkit-transform:scale(0,0);-moz-transform:scale(0,0);-ms-transform:scale(0,0);-o-transform:scale(0,0);transform:scale(0,0);-webkit-transition:all .25s;-moz-transition:all .25s;transition:all .25s}
.expanded:last-child{margin-right:0}
.expanded.show{opacity:1;-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-ms-transform:scale(1,1);-o-transform:scale(1,1);transform:scale(1,1)}
.expanded .section .header,.expanded .section .text{background:0 0;color:#323232;padding:0 6em}
@media screen and (max-width:800px){.expanded .section .header,.expanded .section .text{padding:0 1em}
}
.expanded .section .text{margin-bottom:1.75em}