.cell {
  opacity: 0.9;
  background: transparent;
  position: absolute;

  @include transition(all $anim-time);

  &.gray {
    background: $color-cube-gray;

    &.removed {
      background: $color-cube-removed;
    }
  }

  &.black {
    background: $color-cube-black;
  }

  &.blue {
    background: $color-cube-blue;
  }

  &.blue2 {
    background: $color-cube-blue-2;
  }

  &.green {
    background: $color-cube-green;
  }

  &.orange {
    background: $color-cube-orange;
  }

  &.purple {
    background: $color-cube-purple;
  }

  &.red {
    background: $color-cube-red;
  }

  &.red2 {
    background: $color-cube-red-2;
  }

  &.white {
    background: $color-cube-white;
  }

  &.yellow {
    background: $color-cube-yellow;
  }
}
