.next {
  position: absolute;
  left: 50%;
  top: 7em;
  width: 5.5 * $size-cube;
  margin: 0 0 0 $size-row / 2;
  text-align: center;

  .block {
    margin: 0 0 1em 0;

    .row {
      height: $size-cube;

      .col {
        width: $size-cube;
        height: $size-cube;
        display: inline-block;

        .cell {
          position: relative;
          width: $size-cube;
          height: $size-cube;
          box-shadow: inset 0 0 0 .25em hsla(0, 0%, 0%, .15);
          border-radius: 0.25em;

          &.empty {
            box-shadow: none;
            background: transparent;
          }
        }
      }
    }
  }
}
