.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: '';
  }

  &.done:before {
    opacity: 0.5;
    background: $color-fg-page;
  }

  .right {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: $size-row / 2 !important;
  }

  .left {
    position: absolute;
    right: 50%;
    top: 0;
    margin-right: $size-row / 2 !important;
  }

  .world.small {
    opacity: 0.5;
    margin-right: 3em;
  }

  .score {
    text-align: center;
    padding: 0.5em 2em !important;
  }

  .right .score {
    margin: 2em auto 0 1em;
  }

  .left .score {
    margin: 2em 1em 0 auto;
  }

  .box {
    margin: 2em 1em;
    padding: 1em 2em;
    border-radius: 0.5em;
    color: $color-fg-box;
    background: $color-bg-box;
    opacity: 0.75;
    width: auto;

    table {
      width: 100%;

      td {
        padding: 0.5em;

        .button {
          padding: 0.5em 1em;
          margin: 0;
        }
      }
    }

    .small {
      font-size: 70%;
      margin-bottom: 0.5em;
    }

    &.loading {
      display: inline-block;
      background: $color-bg-load;
    }

    &.menu {
      display: inline-block;
      margin: 2em auto;
      width: 25em;
    }

    .text {
      padding: 1em 0;
    }

    .button {
      cursor: pointer;
      padding: 1em 2em;
      margin: 1em 0;
      color: $color-fg-page;
      background: $color-bg-page;
      border-radius: 0.5em;
      opacity: 0.75;

      &.disabled {
        opacity: 0.25;
        cursor: default;
      }

      &.spaced {
        margin-top: 2em;
      }
    }
  }
}
