.world {
  $_world_width: 6 * $unit;
  $_curve_angle: 360deg / 35;

  margin: 2.5 * $unit auto;
  width: $_world_width;

  @include perspective(800);

  .row {
    margin: $unit / 10 auto;
    height: $unit;
    width: $_world_width;

    @include transform-style(preserve-3d);

    .col {
      left: 2.5 * $unit;
      width: $unit;
      height: $unit;
      position: absolute;

      @include transform-style(preserve-3d);

      @for $i from 0 through $size-width {
        &:nth-of-type(#{$size-width + 1}n + #{$i}) {
          @include transform(rotateY(($i - ($size-width + 1) / 2) * $_curve_angle) translateZ($_world_width));
        }
      }

      .cell {
        width: $unit;
        height: $unit;
        box-shadow: inset 0 0 0 $unit / 6 hsla(0, 0%, 0%, .15);
        border-radius: $unit / 6;
      }
    }
  }

  &.small {
    $_size_cube_small: $unit / $size-ratio-small;
    $_world_width_small: $_world_width / $size-ratio-small;

    margin: 2.5 * $_size_cube_small auto;
    width: $_world_width_small;

    .row {
      margin: $_size_cube_small / 10 auto;
      height: $_size_cube_small;
      width: $_world_width / $size-ratio-small;

      .col {
        left: 2.5 * $_size_cube_small;
        width: $_size_cube_small;
        height: $_size_cube_small;

        @for $i from 0 through $size-width {
          &:nth-of-type(#{$size-width + 1}n + #{$i}) {
            @include transform(rotateY(($i - ($size-width + 1) / 2) * $_curve_angle) translateZ($_world_width_small));
          }
        }

        .cell {
          width: $_size_cube_small;
          height: $_size_cube_small;
          box-shadow: inset 0 0 0 $unit / 6 / $size-ratio-small hsla(0, 0%, 0%, .15);
          border-radius: $unit / 6 / $size-ratio-small;
        }
      }
    }
  }
}
