link(rel="import" href="../3rdparty/polymer.min.html")
link(rel="import" href="../3rdparty/lodash.min.html")
link(rel="import" href="../markdown/markdown.min.html")
link(rel="import" href="../menu/menu.min.html")
link(rel="import" href="../pathBehavior/pathBehavior.min.html")
link(rel="import" href="../position/position.min.html")
link(rel="import" href="cv-styles.html")
  
dom-module#comp-cv
  template
    style(include="cv-styles")
    
    .introduction
      comp-markdown(text="{{ data.summary }}")
      
    .positions
      template(is="dom-repeat" items="{{ data.positions }}")
        comp-position(id$="{{ item.id }}" data="{{ item }}" on-click="showItem" class$="{{ positionClass(path, item.id) }}")

  script(src="cv.js")
