$color-bg-page: white;
$color-fg-page: #333;
$color-bg-box: #333;
$color-bg-load: #f33;
$color-fg-box: $color-bg-page;

$color-cube-blue: #6cf;
$color-cube-black: #555;
$color-cube-blue-2: #34f;
$color-cube-gray: #888;
$color-cube-green: #6fc;
$color-cube-orange: #fc6;
$color-cube-purple: #c6f;
$color-cube-red: #f6c;
$color-cube-red-2: #f36;
$color-cube-removed: #bbb;
$color-cube-white: #f5f5ff;
$color-cube-yellow: #cf6;

$color-wall: #fff; //#555;//#f5f5f5;
