@mixin isocolor($color) {
  $_color: $color;
  $_color_sat: desaturate($_color, 25%);
  $_color_drk: darken($_color_sat, 10%);

  background-color: $_color;

  &:after {
    background-color: $_color_sat;
  }

  &:before {
    background-color: $_color_drk;
  }
}

@mixin isoblock($color) {
  @include isocolor($color);
  @include transform(translateZ($size-cube));
  @include transform-style(preserve-3d);

  &, &:after, &:before {
    box-shadow: inset 0 0 0 .25em hsla(0, 0%, 0%, .1);
  }

  &:after { // left
    @include transform(rotateX(-90deg) translateY($size-cube));
    @include transform-origin(100% 100%);
  }

  &:before { // right
    @include transform(rotateY(90deg) translateX($size-cube));
    @include transform-origin(100% 0);
  }

  &.small {
    &:after { // left
      @include transform(rotateX(-90deg) translateY($size-cube-small));
    }

    &:before { // right
      @include transform(rotateY(90deg) translateX($size-cube-small));
    }
  }
}
