.enemy, .enemy:after, .enemy:before {
  box-shadow: inset 0 0 0 .25em hsla(0, 0%, 0%, .1);
  border-radius: $size-cube / 2;
}

.enemy { // top
  $color-enemy-sat: desaturate($color-enemy, 25%);

  background-color: darken($color-enemy-sat, 10%);
  opacity: 0.9;
  position: relative;

  @include animation(pulserev 0.75s ease-in-out infinite);
  @include transform(translateZ($size-cube));
  @include transform-style(preserve-3d);

  &:after { // mid
    background-color: $color-enemy-sat;
    border-radius: $size-cube / 6;

    @include animation(pulse 0.75s ease-in-out infinite);
    @include transform(translateZ(-$size-cube / 2));
    @include transform-style(preserve-3d);
  }

  &:before { // bottom
    background-color: darken($color-enemy-sat, 10%);

    @include animation(pulserev 0.75s ease-in-out infinite);
    @include transform(translateZ(-$size-cube));
    @include transform-style(preserve-3d);
  }
}
