link(rel="import" href="../3rdparty/polymer.html")
link(rel="import" href="../markdown/markdown.html")
link(rel="import" href="position-styles.html")
  
dom-module#comp-position
  template
    style(include="position-styles")
        
    //.position(ng-class="(isHidden() && 'hide') || (isExtended() && 'show')" ng-click="show()")
    .summary
      .action.fa(ng-class="isExtended() ? 'fa-level-up' : 'fa-level-down'")
      .title {{ data.position }}
      .company {{ data.company }}
      .sub
        .location {{ data.location }}
        .fromto {{ getDate(data) }}
      .year '{{ getShortYear(data) }}
    comp-markdown.expanded(ng-class="isExtended() && 'show'" text="{{ data.description }}")
      
  script(src="position.js")
